@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: QuadraatOffcPro Demibold;
  src: url(./fonts/QuadraatOffcPro-Demibold.woff2);
}


@font-face {
  font-family: QuadraatOffcPro;
  src: url(./fonts/QuadraatOffcPro.woff2);
}